@media (width >= 401px) {
  body {
    background-color: rgb(40, 60, 80);
  }
}
@media (width <= 799px) {
  h1 {
    text-align: center;
  }
}
@media (orientation: landscape) {
  article {
    max-width: 50ch;
  }
}
@media (min-height: 200px) {
  h1 {
    background-color: green;
  }
}
@media print {
  p {
    font-family: serif;
  }
}
@media (prefers-color-scheme: light) {
  h1,
  body {
    background-color: #ddd;
    color: #111;
  }
}
@media screen and (hover: none) {
  a {
    background-color: #212;
    padding: 5px 2px;
  }
}
@media screen and (800px <= width < 900px) {
  img {
    display: none;
  }
}
@media screen and (200px <= width < 400px) {
  img {
    height: 400px;
    object-fit: cover;
  }
}
@media (-webkit-device-pixel-ratio: 2) {
  article {
    background-color: #667;
  }
}
