body {
  background: #222;
  color: #ee6;
}

/* Parrafos */
p {
  font-family: sans-serif;
}

p:first-of-type::first-line {
  color: #efe;
}
strong {
  border-bottom: white solid 0.1rem;
}
.the-force {
  background-color: #444;
  font-weight: bold;
}
.light-side {
  color: #66f;
}
.dark-side {
  color: #f33;
}

/* Titulos */
h1 {
  text-align: center;
}

h1,
h2,
h3 {
  color: #eee;
  text-transform: uppercase;
}
h1:hover {
  color: #f33;
}

/* Peliculas */
#og-trilogy {
  list-style-type: circle;
}
.movies-list:nth-last-of-type(2) {
  padding-left: 4rem;
}
.movies-list:nth-last-of-type(1) li:last-child {
  margin-top: 2rem;
}
li:nth-child(odd) {
  background-color: #111;
}
li:nth-child(even) {
  background-color: #333;
}

/* Links */
a:visited {
  color: grey;
}

a:not([href]) {
  font-style: italic;
}
